.list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.title {
	color: #19293a;
	font-weight: bold;
}

.itemTitle {
	color: #506473;
	position: relative;
	width: fit-content;
	cursor: pointer;
}

.itemTitle:hover::after {
	position: absolute;
	content: '>';
	top: 50%;
	transform: translateY(-50%);
	right: -3em;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	background-color: #506473;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 100;
	font-size: 0.6rem;
	line-height: 0rem;
}

.itemSubtitle {
	color: #506473;
}
